[Unit]
Description=Gunicorn instance to serve Flask Vote app
After=network.target postgresql.service redis-server.service # Asegurar que DBs estén antes

[Service]
User=vagrant
Group=vagrant
WorkingDirectory={{ app_base_path }}/{{ app_base_name }}/vote
Environment="REDIS_HOST={{ redis_host }}"
Environment="REDIS_PORT={{ redis_port }}"
ExecStart={{ app_base_path }}/{{ app_base_name }}/vote/.venv/bin/gunicorn --workers 4 --bind 0.0.0.0:{{ vote_app_port }} app:app
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vote-app
PrivateTmp=true

[Install]
WantedBy=multi-user.target
