[Unit]
Description=Gunicorn instance to serve Flask Vote app
After=network.target postgresql.service redis-server.service # Asegurar que DBs estén antes

[Service]
User=vagrant
Group=vagrant
WorkingDirectory={{ app_base_path }}/vote
Environment="REDIS_HOST=127.0.0.1"
ExecStart={{ app_base_path }}/vote/.venv/bin/gunicorn --workers 4 --bind 0.0.0.0:{{ worker_app_port }} wsgi:app
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vote-app
PrivateTmp=true

[Install]
WantedBy=multi-user.target
